  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

h2 {
    color: red;
    font-size: 45px;
    background-color: aquamarine;
    /* text-align: center; */
}

.soloYo {
    text-align: right;
}

#miParrafo {
    margin-top: 80px;
}

h1 {
    border-top: solid 5px black;
    border-right: dashed 8px blueviolet;
    border-bottom: solid 10px gray;
    border-left: dotted 12px rgb(90, 90, 61);

    padding-top: 35px;
    padding-left: 45px;
    padding-right: 50px;
    padding-bottom: 25px;

   margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 80px;
    margin-left: 150px;
}

.centrar {
    text-align: center;
}

.otroParrafo {
    font-size: 25px;
}

.miColor {
    color: #711648;
}

/*ul {
    text-align: center; 
}*/

ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
    padding: 25px;
    border: solid 1px black;
    background: rgb(222, 213, 213);
}

a {
    text-decoration: none;
}